[user]
    name = Hunter McCurry
    email = hunter@spotify.com
[alias]
    br = branch --color
    ca = commit --amend
    cf = clean -fd
    ci = commit
    cl = config --list --global
    co = checkout
    cp = cherry-pick
    ds = diff --staged
    l1 = log --format='%C(yellow)%h%C(reset) -%C(red bold)%d%C(reset) %s %C(green)(%cr) %C(cyan)<%an>%C(reset)'
    l2 = log --format='%C(yellow)commit %H%C(reset)%C(red bold)%d%C(reset)%nAuthor: %C(cyan)%an <%ae>%C(reset)%nDate:   %C(green)%cd%C(reset)%n%n%w(,4,4)%s%n' --date=local
    l3 = log --format='%C(yellow)commit %H%C(reset)%C(red bold)%d%C(reset)%nAuthor: %C(cyan)%an <%ae>%C(reset)%nDate:   %C(green)%cd%C(reset)%n%n%w(,4,4)%B' --date=local
    lg = log --format='%C(yellow)%h%C(reset) -%C(red bold)%d%C(reset) %s %C(green)(%cr) %C(cyan)<%an>%C(reset)' --graph
    lm = log --format='%C(yellow)%h%C(reset) -%C(red bold)%d%C(reset) %s %C(green)(%cr)%C(reset)' --author=hunter
    pr = pull-request
    rb = rebase
    ri = rebase -i
    rw = rewind
    sh = show HEAD
    st = status
    un = reset HEAD --
[color]
	ui = true
[push]
	default = current
